body, .navbar{
    background-color: rgb(40, 40, 40);
}

body, .nav-container a, .project-navigation .active, .project-cards a{
    color: white;
}

::-webkit-scrollbar-track{
    background: rgb(103, 103, 103);
}

.navbar{
    box-shadow: 0 2px rgba(32, 32, 32, 0.602);
}

#brief-container img{
    border: 3px solid rgb(81, 81, 81);
}

#brief-container .brief-text, .card{
    background-color: rgb(81, 81, 81);
}

.contact-icons a, .to-top .scroll-top{
    color: black;
}

.contact-icons a{
    background-color: white;
    border: 1px solid white;
}