::-webkit-scrollbar-track{
    background: rgb(241, 241, 241); 
}

.navbar{
    box-shadow: 0 2px  rgba(136, 136, 136, 0.292);
}

.navbar, #brief-container .brief-text{
    background-color: white;
}

.nav-container a, .project-navigation .active, .project-cards a{
    color: black;
}

#brief-container img{
    border: 3px solid white;
}

.card{
    background-color: rgb(245, 245, 245);
}

.contact-icons a, .to-top .scroll-top{
    color: white;
}

.contact-icons a{
    background-color: black;
    border: 1px solid black;
}