@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: "neoneon";
    src: 
      url(../personal-portfolio/Assets/Fonts/Neoneon/Neoneon.ttf) format('truetype'), /* ../../<repo-name>Fonts/<font-name>.<format> is for using custom fonts on github*/
      url(../personal-portfolio/Assets/Fonts/Neoneon/Neoneon.eot) format('embedded-opentype'),
      url(../personal-portfolio/Assets/Fonts/Neoneon/Neoneon.woff) format('woff'),  /* ../Fonts/<font-name>.<format> is for using locally and on live server */
      url(../personal-portfolio/Assets/Fonts/Neoneon/Neoneon.svg) format('svg'),
      url(../personal-portfolio/Assets/Fonts/Neoneon/Neoneon.woff2) format('woff2');
  
    font-weight: normal;
    font-style: normal;
}

html,
body{
    height: 100vh;
    margin: 0;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(40, 40, 40);
    color: white;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track{
    background: #676767; 
}

::-webkit-scrollbar-thumb{
    background: rgba(225, 0, 225, 0.469); 
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(225, 0, 225); 
}

.navbar{
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 2px rgba(32, 32, 32, 0.602);
    width: 100vw;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.theme-toggle{
    float: left;
    width: 35%;
    margin: auto 20px;
}

.theme-toggle #theme-icon{
    width: 20px;
    cursor: pointer;
}

.nav-container{
    float: right;
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.nav-container a{
    padding: 16px;
    color: white;
    text-decoration: none;
}

.nav-container .active{
    background-color: rgba(225, 0, 225, 0.469);
}

.nav-container a:hover:not(.active){
    background-color: rgba(0, 0, 0, 0.265);
}

#brief{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 140px 0 140px;
    background-image: url('../personal-portfolio/Assets/images/bg.jpg');
    /* background-image: url('../personal-portfolio/Assets/images/bg.jpg'); - Running from GitHub Pages
       background-image: url('./Assets/images/bg.jpg'); - Running locally */
    background-repeat: no-repeat;
    background-size: cover;
}

#brief-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

#brief-container .brief-pic{
    display: flex;
    justify-content: center;
    z-index: 1;
}

#brief-container img{
    border: 3px solid rgb(81, 81, 81);
    border-radius: 50%;
    width: 150px;
}

#brief-container .brief-text{
    background-color: rgb(81, 81, 81);
    gap: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: -70px;
    padding: 90px 30px 40px;
}

#brief-container .brief-name{
    font-family: neoneon;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

span{
    color: rgb(225, 0, 225);
}

#brief-container .brief-description{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}

#about, #project, #contact{
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 50px 0;
    gap: 20px;
    top: 0;
}

#about .about-title, #project .project-title, #contact .contact-title{
    font-family: neoneon;
    /* font-family: 'Comic Neue', cursive; */
    font-size: 40px;
    font-weight: bold;
}

#about .about-content{
    text-align: justify;
    font-size: 20px;
}

#about, #contact, #project{
    scroll-margin-top: 50px;
}

.contact-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
}

.contact-details .email, .contact-details .email-words{
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
    font-weight: bold;
}

.contact-icons{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}

.contact-icons a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
}

.contact-icons a:hover{
    background-color: rgb(225, 0, 225);
    border: 1px solid rgb(225, 0, 225);
}

.to-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.to-top .scroll-top{
    height: 50px;
    width: 120px;
    margin: 100px auto;
    border: none;
    border-radius: 5px;
    font-family: 'Comic Neue', cursive;
    background-color: rgb(225, 0, 225);
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.to-top .scroll-top:hover{
    background-color: rgb(210, 0, 210);
}
